html {
    display: flex;
    justify-content: center;
    background-color: rgba(172, 243, 66, 0.5);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 1%;
    border: solid 20px;
    border-color: black rgb(105, 105, 105);
    width: 500px;
    height: 320px;
    margin: 0.5%;
}

.sizing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    width: 200px;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0px 2px;
}

input {
    width: 35px;
}


.grid-container {
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}

.resize {
    margin: 5px 0px;
    width: 80px;
}

.highlight {
    background-color: rgb(128, 0, 128);
}